<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="/lib/js.cookie-2.2.1.min.js"></script>
    
    <title>SkyFitness</title>
    <script src="/js/auth.js"></script>
    <link href="/css/global.css" rel="stylesheet" type="text/css">

    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/spreadsheets">
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/drive">
    <meta name="google-signin-client_id" content="38907189295-91oq0njoe8mje105psktgnmgnlnuru3t.apps.googleusercontent.com">
</head>
<body class="has-navbar-fixed-bottom">
  @include('./partials/header')
  @!section('content')
  @include('./partials/footer')

  <script>
    function deleteRow(e){
      let question = e.currentTarget.getAttribute('data');
      return confirm(question);
    }
  </script>
</body>
</html>
